
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navegacion */
.background_navbar{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

nav {
    height: 70px;
    position: relative;
}

nav a {
    color: white;
}

nav a:hover {
    color: white;
}


/* Landing page */

.landing-grid {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 89.5vh;
    text-align: center;
}

.foto-portfolio{
    height: 200px;
    border-radius: 100%;
    margin-top: 120px;
    margin-bottom: 20px;
}

.banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}
.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}

/* Perfil */
.content{
    background: black;
    height: 89.5vh;
}

.contenido{
    position: absolute;
    margin-top: 40px;
}

.contenido-profile{
    color: white;
    height: 180px;
    width: 75%;
    border-radius: 10px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: 20px;
    padding: 20px 20px;
    overflow: hidden;
}

.contenido-objetivo{
    color: white;
    height: 140px;
    width: 75%;
    border-radius: 10px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 20px;
    margin-left: 260px;
    margin-top: 50px;
    overflow: hidden;
}

/* boton */

.btn-pdf{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    margin-left: 50%;
    margin-top: 480px;
    padding: 8px;
    border-radius: 10px;
    
}

.btn-pdf:hover{
    color: white;
    text-decoration: none;
}

/* Contacto */

.contact-boody {
    margin: auto;
    background: gray;
    width: 100%;
    height: 89.5vh;
    justify-content: center;
    padding-top: 2em;
}

.contact-grid{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    background: white;
    color: black;
    border: 2px solid red;
    margin-top: 20px auto;
}
.foto-contact{
    height: 200px;
}

.contact-grid hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contact-list i {
    margin-top: 100px;
    font-size: 30px;
    padding-right: 20px;
    justify-content: center;

}

.contact-list h2{
    margin-top: 80px;
}

/* Formulario de contacto */

.contact__form {
    margin: 80px auto;
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 90%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(107, 107, 110) 0px 0px 50px;
    background-color: white;
 
  }
 
  input, textarea {
    border: none;
    resize: none;
    outline: none;
    width: 80%;
    margin: 20px;
    border-bottom: 1px solid rgba(0,0,0.2);
    
  }

  /* Educacion */

  .img-education{
    height: 200px; 
    border-radius:100%;
    margin-top: 20px;
    
  }

.content-right{
    height: 100%;
}

.content-1{
    position: absolute;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}

.content-1 h3{
    font-weight: bold;
}

.content-2{
    position: absolute;
    margin-top: 200px;
    overflow: hidden;
    width: 100%;
    
}

.content-2 h3{
    font-weight: bold;
}

/* Proyectos */

.card-content{
    margin-top: 50px;
}

.content--2{
    width: 90%;
    margin: 50px auto;
    
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.card{
    width: 20%;
    background: #ffffff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    
}

.card-header{
    text-align: center;
    padding: 50px 10px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
}

.card-body{
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body .btn-project{
    
    color: #ffffff;
    text-align: center;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgb(0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
}
@media screen and (max-width: 620px) {
    .card-content {
        width: 100%;
    }
}